<div class="name">
  {{ task.name }}
</div>
<div class="date">
  {{ task.date | date:'yyyy-MM-dd' }}
</div>
<form [formGroup]="taskForm">
  <div>Treść
    <input type="text" formControlName="name">
  </div>
  <div>Zrobione
    <input type="checkbox" formControlName="done">
  </div>
  <div>Data
    <input type="date" formControlName="date">
  </div>
  <button 
    type="button"
    (click)='updateTask()'
    color="primary"
    mat-raised-button
  >
    Zapisz
  </button>
  <button 
    class='delete-btn'
    type="button" 
    (click)='deleteTask()'
    color="primary"
    mat-raised-button
  >
  Usuń zadanie
</button>
</form>
<!-- <pre>{{ taskForm.value | json }}</pre> -->