:host {
  border: 1px solid #673ab7;
  padding: 20px 40px;
  position: relative;
  display: block;
}
.name {
  font-size: 20px;
}
.date{
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 10px;
  color: #555;
}